<div class="col-sm">
   <div class="container">
      <br />
      <div class="row justify-content-center">
         <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm">
               <div class="card-body row no-gutters align-items-center">
                  <div class="col-auto">
                     <i class="fas fa-search h4 text-body"></i>
                  </div>

                  <div class="col">
                      <form id="filter">
                            <input [(ngModel)]="filterargs" name="filter" class="form-control form-control-lg form-control-borderless" type="search"
                                placeholder="Search movies">
                        </form>
                  </div>

               </div>
            </form>
         </div>

      </div>
   </div>
</div>
<div class="container mt-5">
   <div class="row">
      <div class="col">
         <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
               <a [routerLink]="['/mainAdmin']" class="nav-link active" href="#">Videos</a>
            </li>
         </ul>
      </div>
      <div class="col">
         <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
               <a  [routerLink]="['/customers']" class="nav-link border border-primary" >Customers</a>
            </li>
         </ul>
      </div>
   </div>
</div>
<div class="container ">
   <div class="row">
      <div class="col text-center">
         <button [routerLink]="['/add']" class="btn btn-md btn-danger m-3" type="submit">Add new Video</button>
      </div>
   </div>
</div>


<div class= "row">
<div class="col-lg p-5">
   <table class="table">
      <thead class="thead-dark">
         <tr>
            <th scope="col">Title</th>
            <th scope="col">Running Time</th>
            <th scope="col">Genre</th>
            <th scope="col">Ratings</th>
            <th scope="col">Director</th>
            <th scope="col">Image</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let data of videos | filter : filterargs">
            <td>{{data.title}}</td>
            <td>{{data.rTime}}</td>
            <td>{{data.genre}}</td>
            <td>{{data.ratings}}</td>
            <td>{{data.director}}</td>
                <td>
                    <img src="{{path}}{{data.image}}" class="img-fluid" alt="Responsive image">
                </td>
            <td>{{data.status}}</td>

               <td >
                  <button (click)="btnUpdate(data._id)" class="btn btn-md btn-primary mr-1" type="submit">Update</button>
                  <button  (click)="btnDelete(data._id)" class="btn btn-md btn-primary" type="submit">Delete</button>
               </td>

         </tr>
      </tbody>
   </table>
</div>
</div>
