<div class="container col-lg-5 mt-5 mb-5 p-5 bg-light">
<div class="text-center">
<h2 class="text-dark mb-5">Update a Video</h2>

</div>
   <form (ngSubmit)="onSubmit(title,rTime,genre,ratings,director,status)"  #updateForm="ngForm" class="form-signin">
   <table class="table">
      <tr>
         <td>Title:</td>
         <td>  <input type="text" class="form-control" id="title" required ngModel="{{videosData.title}}" name="title" #title="ngModel"> </td>
      </tr>
      <tr>
         <td>Runnig Time</td>
         <td><input type="text" class="form-control" id="rTime" required ngModel="{{videosData.rTime}}" name="rTime" #rTime="ngModel"></td>
      </tr>
      <tr>
         <td>Genre</td>
         <td>
            <div class="form-group">
               <select class="form-control" id="genre" required ngModel name="genre" #genre="ngModel">
                  <option value="" selected disabled hidden>Select a Genre</option>
                  <option *ngFor="let genre of videos.genre" [value]="genre">{{genre}}</option>
               </select>
            </div>
         <td>
      </tr>
      <tr>
         <td>Ratings</td>
         <td>
            <div class="form-group">
               <select class="form-control" id="rating" required ngModel name="rating" #ratings="ngModel">
                  <option value="" selected disabled hidden>Select a Rating</option>
                  <option *ngFor="let rating of videos.rating" [value]="rating">{{rating}}</option>
               </select>
            </div>
         <td>
      </tr>
      <tr>
         <td>Director</td>
         <td><input type="text" class="form-control" id="director" required ngModel="{{videosData.director}}" name="director" #director="ngModel"> </td>
      </tr>
      <tr>
         <td>Status</td>
         <td>
            <div class="form-group">
               <select class="form-control" id="status" required ngModel name="status" #status="ngModel">
                  <option value="" selected disabled hidden>Select a Status</option>
                  <option *ngFor="let status of videos.status" [value]="status">{{status}}</option>
               </select>
            </div>
         <td>
      </tr>
    <tr>
       <td>Upload Image</td>
         <td>
           <input type="file"  (change)="onFileSelected($event)" value="Basic file Upload">
        <td>
          <td *ngIf="!img2;else other_content"><img src="{{path}}default.jpg" class="img-fluid" alt="Responsive image"></td>

          <ng-template #other_content><td><img src="{{path}}{{img2}}" class="img-fluid" alt="Responsive image"></td></ng-template>
      </tr>
      <tr>
         <td><button [routerLink]="['/mainAdmin']" class="btn btn-lg btn-danger btn-block" type="submit">Back</button></td>
         <td><button class="btn btn-lg btn-primary btn-block" type="submit">Update</button></td>
      </tr>
   </table>
   </form>
</div>
